* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .dashboard{
    display:flex;
    height:100vh;
}

.dashboard-content{
    flex:1;
    padding:20px;
    background:#f4f4f4;
    overflow:auto;
}

.dashboard-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    font-size: 22px;
    font-weight: 500;
    height: 70px;
     margin-top: 0;
}
.operator-navbar{
    display: flex;
    flex-direction: row;
    width: 260px;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#operatorIcon{
    height: 60px;
    width: 60px;
}
.logout-btn button {
    background: linear-gradient(to right, #c81a1a, #db3a3a);
    height: 35px;
    width: 120px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  
}
.logout-btn button:hover {
    background: linear-gradient(to right, #34a916, #83ef55);
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(200, 26, 26, 0.4);
}
.dashboard-body-content {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    /* justify-content: center;   */
    align-items: center;
    height: calc(100vh - 90px); /* Remaining height after the navbar */
    width: 98%;
    padding-left: 50px;
}
.welcome-tag{
    font-size: 40px;
    font-weight: bolder;
}

.dashboard-body-content h1 {
    font-size: 33px;
    color: rgb(3, 89, 13);
    margin-bottom: 25px;
    font-weight: bolder;
    line-height: 1.2;
    margin-top: 20px;
}


.dashboard-body-content p {
    width: 800px;      /* Try 650px–750px */
    max-width: 90%;
    text-align: center;
    font-size: 22px;
    line-height: 1.8;
    color: #444;
}
  