.Login-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e9e9f0;
    height: 100vh;
    width: 100%;
}
.office-logo{
    height: 100px;
    width: 100px;
}
.office-logo img{
    width: 100%;
  height: 100%;
  object-fit: cover;
}

.App-name{
    margin-top: 20px;
    text-align: center;
}
#login-AppName{
    font-size: 40px;
    font-weight:bolder;
    color: rgba(55, 136, 23, 0.887);
    text-align: center;
}

.Login-page {
  display: flex; /* Only once */
  flex-direction: column;
  height: 400px; /* Full screen height */
  width: 550px;  /* Full screen width */
  /* justify-content: center; */
  align-items: center;
  background: #0f172a;
  color:white;
  font-size: 2rem;
  overflow: hidden; /* Prevents overflow */
  margin-top: 20px;
 
}

/* Left side (image section) */
/* .left-side {
  width: 45%;
  overflow: hidden;
  background-color: #a589de;
}

.left-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* Right side (login form section) */
/* .Login-content {
 width: 55%;
 background-color: rgb(255, 255, 255);
} */

.heading-login{
    font-size: 30px;
    font-weight:bolder;
    color:white;
    /* text-align: center;
    align-items: center; */
    padding-top: 10px;
    margin-bottom: 0;
}
.subHeading-login{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px; 
    margin-bottom: 20px;
}
.input-field{
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border-radius: 9999px;
  background-color: #333A5C;
}
.input-img{
    height: 35px;
    width: 35px;
}
.input-text{

    height: 30px;
    width: 250px;
    padding: 0 10px;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background: transparent;
}
.input-text::placeholder {
    color: gray;
    font-size: 17px;
    font-style: italic;
    padding-left: 10px;
    padding-bottom: 10px;
}
/* .info{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
    align-items: center;
} */
/* .login-input{
    height: 35px;
    width: 260px;
    padding-left: 10px;
    font-size: 15px;
} */
 .forgot-password{
    background: transparent;
    color: red;
    font-size:20px ;
    border: none;
    margin-top: 10px;
    cursor: pointer;
 }
 .forgot-password:hover{
    color:rgb(38, 166, 29) ;
}
.login-btn{
    height: 40px;
    width: 160px;
    font-size: 22px;
    display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 0 auto; 
  background:linear-gradient(135deg,#fa2e0a, #ef4c11);
  color: white;
  border: none;
  border-radius: 9999px;

}
.login-btn:hover{
    box-shadow: 0 8px 20px rgba(64, 58, 189, 0.4);
    background: linear-gradient(135deg, #6861f3, #f06782);

}
.forgot-btn{
    font-size: 16px;
    color: black;
    cursor: pointer;
    padding-left: 210px;
    background: transparent;
    border: none;
}
.forgot-btn:hover{
    color:rgb(75, 10, 227) ;
}
/* .or{
    font-size: 25px;
   
    text-align: center;
    margin-top: 25px;
} */
/* .register-content{
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.register-text{
    font-size: 16px;   
}
.register-btn{
    font-weight: bold;
    font-size: 16px;
    color: black;
    cursor: pointer;    
    background: transparent;
    border: none;
}
.register-btn:hover{
    color:rgb(75, 10, 227) ;
} */